/* Common styles */
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Slab', serif;
}

/* Skewed header */
.skewed-header{
    position:relative;
    height:400px;
    overflow:hidden;
    }

.skewed-header > .header-bg{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-size:100%;
    transform:skewY(-6deg);
    transform-origin:center left;
    filter:brightness(50%); 
}

