.footer{
    height:400px;
    background-color:#11122b;
    color:#cbcbcb;
    display:flex;
    justify-content: center;
    align-items:center;
    font-family: 'Ubuntu Condensed', sans-serif;
    flex-direction:column;
    margin-top:-4px;
}



.footer > .logo-footer{
    text-align:center;
}

.footer > .logo-footer img{
 width:180px;
 height:100%;
 filter:brightness(50%);
 /* opacity:0.5; */
}

.footer >.footer-phone-hours {
    text-align:center;
    margin-bottom:30px;
    margin-top:5px;
}
.footer >.footer-phone-hours > span{
    letter-spacing:2px;
    font-size:1em;
    margin-right:10px;
    margin-left:10px;
}
.footer >  .footer-phone-hours >.phone{
    color:#cbcbcb;    
}
.footer >  .footer-phone-hours >.hours{
    color:#cea135;
    font-size:0.8em;
    text-transform: uppercase;
}

.footer >.links-wrapper{
    display:flex;
    justify-content: space-between;
    margin-bottom: 70px;
    width:400px;
}

.footer >.links-wrapper >.nav-link{
    width:100px;
    text-align:center;
}
.footer >.links-wrapper >.nav-link a{
    text-decoration:none;
    color:#cbcbcb;
    transition:0.5s;
    
}
.footer >.links-wrapper >.nav-link a:hover{
    letter-spacing: 2px;
    color:#cea135;
}

.footer >.social-media-icons-wrapper{
    display:flex;
    justify-content: center;
    padding-bottom:45px;
    width:300px;
}

.footer > .social-media-icons-wrapper a{
    margin: 0 40px;
    font-size:25px;
    text-decoration: none;
    color:#cbcbcb;
    transition:0.5s;
}
.footer > .social-media-icons-wrapper a:hover{
    color:#cea135;
}
.footer >.copyright-wrapper{
    font-size:0.8em;
    color:#858585;
    text-align:center;
    padding-bottom:20px;
}
